* {
    margin: 0;
    padding: 0;
}

/* app.js */

.main-page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sub-page {
    margin: 10px 0;
    width: 84vw;
}

/* menupage.js */

.menu-bar {
    position: relative;
    width: 14vw;
    height: 100vh;
    background-color: gray;
    border-radius: 0 10px 10px 0;
}

.menu-bar .profile-details {
    display: grid;
    place-items: center;
    padding: 10px;
}

.profile-details img {
    width: 80px;
    height: auto;
    margin: 10px 0;
}

.profile-details p {
    font-size: 20px;
    word-spacing: 4px;
    color: white;
}

.menu-details {
    color: white;
    height: auto;
}

.menu-details li {
    text-transform: capitalize;
    list-style: none;
    margin: 10px 0px 0px 10px;
    padding: 13px 15px;
    border-radius: 10px 0 0 10px;
}

.menu-details li:hover {
    cursor: pointer;
}

.menu-details span {
    margin-right: 10px;
}

/* company page */

.company-head {
    height: 10vh;
    margin: 10px 10px 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company-head .company-logo {
    width: 100px;
    height: 50px;
    object-fit: cover;
}

.company-head img:nth-child(2) {
    background-color: lightgreen;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    padding: 10px;
}

/* user-details.js */

.user-details {
    position: relative;
    height: auto;
    margin: 5px;
    padding: 10px 0;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    border-radius: 20px;
}

.user-details .user-details-head {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgba(4, 3, 3, 0.1);
    margin-top: 20px;
    border-radius: 10px;
    height: 80px;
    margin: 10px 25px;
}

.user-details .user-details-head .user-profile {
    position: relative;
    width: 100px;
    top: -10px;
    height: 100px;
    object-fit: contain;
    border-radius: 10px;
    padding: 10px;
}

.user-details .user-details-head .user-details-head-span{
    font-size: 16px;
    margin: 0 20px;
    text-transform: capitalize;
}

.user-details .user-details-head .user-details-head-span p:nth-child(even) {
    font-size: 17px;
}

.user-details .user-details-head span:nth-child(6) {
    position: absolute;
    right: 80px;
}

.user-details .user-other-details {
    height: auto;
    border-radius: 20px;
    margin: 20px 0;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-details .user-other-details .sub-details {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgba(4, 3, 3, 0.1);
    height: 55vh;
    width: 40vw;
    margin: 10px;
    border-radius: 20px;
}

.user-other-details .sub-details .sub-user-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 5px 10px;
    font-size: 15px;
    text-transform: capitalize;
}

/* media queries */

@media screen and (max-width: 400px) {
    .menu-bar {
        display: none;
    }

    .hambergur-menu-bar {
        display: block;
    }
}